/* 
  * - универсальный селектор, который выбирает все элементы на странице.
  В данном случае он пустой, поэтому не будет применять никаких стилей.
*/
* {
    margin: 0;
}

img{
  max-width: 100%;
}
/* 
  body - селектор, который выбирает элемент body, который является корневым элементом HTML-документа.
  background-color - свойство, которое устанавливает цвет фона элемента.
  color - свойство, которое устанавливает цвет текста элемента.
*/
body{
    background-color: #162831; /* Установить цвет фона в #162831 */
    color: #ffff; /* Установить цвет текста в белый (#ffff) */
}

/* 
  a - селектор, который выбирает все элементы ссылок на странице.
  color - свойство, которое устанавливает цвет текста элемента.
  text-decoration - свойство, которое устанавливает стиль текста (в данном случае, удаление подчеркивания).
*/
a{
    color: #ffff; /* Установить цвет текста в белый (#ffff) */
    text-decoration: none; /* Удалить подчеркивание у ссылок */
}

/* 
  ul - селектор, который выбирает все элементы списков на странице.
  list-style - свойство, которое устанавливает стиль маркеров списка.
*/
ul{
    list-style: none; /* Удалить маркеры списка */
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/* 
  .header - селектор, который выбирает элемент с классом "header".
  display - свойство, которое устанавливает тип отображения элемента.
  justify-content - свойство, которое устанавливает выравнивание содержимого элемента по горизонтали.
  align-items - свойство, которое устанавливает выравнивание содержимого элемента по вертикали.
*/
.header {
    padding: 25px;

}

.header .container{
    display: flex; /* Установить тип отображения в flexbox */
    justify-content: space-between; /* Выровнять содержимое по горизонтали, распределяя элементы по всей ширине */
    align-items: center; /* Выровнять содержимое по вертикали, центрируя элементы */

}

/* 
  .header__nav - селектор, который выбирает элемент с классом "header__nav".
  В данном случае он пустой, поэтому не будет применять никаких стилей.
*/
.header__nav {

}

/* 
  .heder__list - селектор, который выбирает элемент с классом "heder__list".
  display - свойство, которое устанавливает тип отображения элемента.
  gap - свойство, которое устанавливает расстояние между элементами.
*/
.heder__list {
    display: flex; /* Установить тип отображения в flexbox */
    gap: 30px; /* Установить расстояние между элементами в 30px */
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.activ{
    opacity: 1;
}

.header__nav a:hover{
    opacity: 0.9;
}
/* 
  .batt - селектор, который выбирает элемент с классом "batt".
  В данном случае он пустой, поэтому не будет применять никаких стилей.
*/
.batt {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 155px;
    height: 36px;

    font-weight: 500;
    font-size: 16px;

    background: #018ABE;
    border-radius: 3px;
    transition: opacity 0.3s;
}

.batt:hover {
    opacity: 0.8;
}
#logov{
    width: 50px;
    height: 50px;
}
.main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.welcome {
    height: 600px;
    background-image: url("/treni/MaySite/imag/unsplash_S-llxYh3GzI.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center;
    text-align: center;
}

.welcome__text{
    padding: 180px;
}

.welcome__subtext {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__subtitle {
    font-size: 64px;
}

  .welcome__subtext-image-left {
    margin-right: 40px;
  }
  
  .welcome__subtext-image-right {
    margin-left: 40px;
  }
  


  .services {
    height: 600px;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    text-align: center;
}

.services__text{
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services__text-image-left {
  margin-right: 40px;
}

.services__text-image-right {
  margin-left: 40px;
}

.services__card__card {
  height: 600px;
  background-image: url("treni/MaySite/imag/unsplash.png");
}