/* 
  * - универсальный селектор, который выбирает все элементы на странице.
  В данном случае он пустой, поэтому не будет применять никаких стилей.
*/
* {

}

/* 
  body - селектор, который выбирает элемент body, который является корневым элементом HTML-документа.
  background-color - свойство, которое устанавливает цвет фона элемента.
  color - свойство, которое устанавливает цвет текста элемента.
*/
body{
    background-color: #162831; /* Установить цвет фона в #162831 */
    color: #ffff; /* Установить цвет текста в белый (#ffff) */
}

/* 
  a - селектор, который выбирает все элементы ссылок на странице.
  color - свойство, которое устанавливает цвет текста элемента.
  text-decoration - свойство, которое устанавливает стиль текста (в данном случае, удаление подчеркивания).
*/
a{
    color: #ffff; /* Установить цвет текста в белый (#ffff) */
    text-decoration: none; /* Удалить подчеркивание у ссылок */
}

/* 
  ul - селектор, который выбирает все элементы списков на странице.
  list-style - свойство, которое устанавливает стиль маркеров списка.
*/
ul{
    list-style: none; /* Удалить маркеры списка */
}

/* 
  .header - селектор, который выбирает элемент с классом "header".
  display - свойство, которое устанавливает тип отображения элемента.
  justify-content - свойство, которое устанавливает выравнивание содержимого элемента по горизонтали.
  align-items - свойство, которое устанавливает выравнивание содержимого элемента по вертикали.
*/
.header {
    display: flex; /* Установить тип отображения в flexbox */
    justify-content: space-between; /* Выровнять содержимое по горизонтали, распределяя элементы по всей ширине */
    align-items: center; /* Выровнять содержимое по вертикали, центрируя элементы */
}

/* 
  .header__nav - селектор, который выбирает элемент с классом "header__nav".
  В данном случае он пустой, поэтому не будет применять никаких стилей.
*/
.header__nav {

}

/* 
  .heder__list - селектор, который выбирает элемент с классом "heder__list".
  display - свойство, которое устанавливает тип отображения элемента.
  gap - свойство, которое устанавливает расстояние между элементами.
*/
.heder__list {
    display: flex; /* Установить тип отображения в flexbox */
    gap: 30px; /* Установить расстояние между элементами в 30px */
}

/* 
  .batt - селектор, который выбирает элемент с классом "batt".
  В данном случае он пустой, поэтому не будет применять никаких стилей.
*/
.batt {
    
}