* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
	font-family: raleway_f;
	src: url(../portfolio-site/fonts/raleway-regular.woff2);
}

@font-face {
	font-family: raleway_f;
	src: url(../portfolio-site/fonts/raleway-black.woff2);
	font-weight: 900;
}

body {
	background-color: #e9aeae;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
    color: #fff;
}

main{
    width: 96%;
    height: 90%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    & p{
        width: 60%;
        height: 90%;
        box-shadow: 0 0 10px black;
        padding: 5px;
        overflow-y: auto;
    }
}

#grid-container {background: rgb(0, 150, 208); display: grid; height: auto; grid-template-columns: 150px 100px 150px; grid-template-rows: 50px 50px; }
#grid-container > div {background: rgb(241, 101, 41); border: 1px solid; margin: 0px; padding: 0px; }